<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT informationPerATSjukhus ANY>
<!ATTLIST informationPerATSjukhus id ID #REQUIRED>
<!ELEMENT landsting ANY>
<!ATTLIST landsting id ID #REQUIRED>
<!ELEMENT aTTjaenst ANY>
<!ATTLIST aTTjaenst id ID #REQUIRED>
<!ELEMENT Dialogue ANY>
<!ATTLIST Dialogue id ID #REQUIRED>
<!ELEMENT DialogueCategory ANY>
<!ATTLIST DialogueCategory id ID #REQUIRED>
<!ELEMENT Dialoguelogin ANY>
<!ATTLIST Dialoguelogin id ID #REQUIRED>
<!ELEMENT DialogueRegister ANY>
<!ATTLIST DialogueRegister id ID #REQUIRED>
]>
<root id="-1">
  <Dialogue id="1054" key="57945fb7-af87-44d5-b039-d4869e610a32" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-02-13T15:17:20" updateDate="2017-03-27T10:59:05" nodeName="Forum Underläkare" urlName="forum-underlaekare" path="-1,1054" isDoc="" nodeType="1050" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="Dialogue">
    <umbracoNaviHide>0</umbracoNaviHide>
    <hideFromSitemap>0</hideFromSitemap>
    <memberUrlName><![CDATA[member]]></memberUrlName>
    <topicUrlName><![CDATA[topic]]></topicUrlName>
    <forumName><![CDATA[Forum Underläkare]]></forumName>
    <dialogueUrlName><![CDATA[page]]></dialogueUrlName>
    <forumDescription><![CDATA[<p>Forum Underläkare</p>]]></forumDescription>
    <enableMemberReporting>1</enableMemberReporting>
    <allowPrivateMessages>1</allowPrivateMessages>
    <privateMessageFloodControl>1</privateMessageFloodControl>
    <privateMessageInboxSize>100</privateMessageInboxSize>
    <topicsPerPage>20</topicsPerPage>
    <enableSpamReporting>1</enableSpamReporting>
    <emailAdminOnNewMemberSignup>0</emailAdminOnNewMemberSignup>
    <manuallyAuthoriseNewMembers>0</manuallyAuthoriseNewMembers>
    <postsPerPage>20</postsPerPage>
    <allowRssFeeds>1</allowRssFeeds>
    <allowMemberSignatures>0</allowMemberSignatures>
    <allowEmailSubscriptions>1</allowEmailSubscriptions>
    <activitiesPerPage>20</activitiesPerPage>
    <newMembersMustConfirmAccountsViaEmail>0</newMembersMustConfirmAccountsViaEmail>
    <allowPostsToBeMarkedAsSolution>1</allowPostsToBeMarkedAsSolution>
    <fileUploadMaximumFilesize>5000000</fileUploadMaximumFilesize>
    <suspendRegistration>0</suspendRegistration>
    <fileUploadAllowedExtensions><![CDATA[jpg,jpeg,png,gif]]></fileUploadAllowedExtensions>
    <allowPoints>1</allowPoints>
    <pointsAddedForASolution>1</pointsAddedForASolution>
    <pointsAddedPerNewPost>1</pointsAddedPerNewPost>
    <pointsDeductedForNegativeVote>1</pointsDeductedForNegativeVote>
    <amountOfPointsBeforeAUserCanVote>1</amountOfPointsBeforeAUserCanVote>
    <pointsAddedForPositiveVote>1</pointsAddedForPositiveVote>
    <adminEmailAddress><![CDATA[admin@mysite.com]]></adminEmailAddress>
    <notificationReplyEmailAddress><![CDATA[noreply@mysite.com]]></notificationReplyEmailAddress>
    <theme><![CDATA[Default]]></theme>
    <newMemberStartingGroup><![CDATA[Dialogue Standard]]></newMemberStartingGroup>
    <enableAkismetSpamControl>0</enableAkismetSpamControl>
    <enterTheAnswerToYourSpamQuestion><![CDATA[2]]></enterTheAnswerToYourSpamQuestion>
    <enterASpamRegistrationPreventionQuestion><![CDATA[What is 1 + 1]]></enterASpamRegistrationPreventionQuestion>
    <Dialoguelogin id="1057" key="773ef278-5b3a-4bd9-a0ed-bf7b3aed9a26" parentID="1054" level="2" creatorID="0" sortOrder="2" createDate="2017-02-13T15:17:20" updateDate="2017-02-13T15:18:37" nodeName="Login" urlName="login" path="-1,1054,1057" isDoc="" nodeType="1052" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="Dialoguelogin">
      <hideFromSitemap>0</hideFromSitemap>
      <umbracoNaviHide>0</umbracoNaviHide>
    </Dialoguelogin>
    <DialogueRegister id="1058" key="9569f642-f341-4dc1-86a0-8cc6f091363b" parentID="1054" level="2" creatorID="0" sortOrder="3" createDate="2017-02-13T15:17:20" updateDate="2017-02-13T15:18:39" nodeName="Register" urlName="register" path="-1,1054,1058" isDoc="" nodeType="1053" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="DialogueRegister">
      <hideFromSitemap>0</hideFromSitemap>
      <umbracoNaviHide>0</umbracoNaviHide>
    </DialogueRegister>
    <DialogueCategory id="1063" key="928e84f5-f9c0-4482-9fe7-1b48effc0599" parentID="1054" level="2" creatorID="0" sortOrder="4" createDate="2017-02-13T15:25:35" updateDate="2017-02-13T15:25:35" nodeName="Allmänt" urlName="allmaent" path="-1,1054,1063" isDoc="" nodeType="1051" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="DialogueCategory">
      <hideFromSitemap>0</hideFromSitemap>
      <umbracoNaviHide>0</umbracoNaviHide>
      <lockCategory>0</lockCategory>
      <moderateAllTopicsInThisCategory>0</moderateAllTopicsInThisCategory>
      <moderateAllPostsInThisCategory>0</moderateAllPostsInThisCategory>
      <DialogueCategory id="1067" key="9e074bbe-7d16-4f62-b6a4-b62f8ef4d433" parentID="1063" level="3" creatorID="0" sortOrder="0" createDate="2017-02-13T15:27:36" updateDate="2017-03-07T15:27:32" nodeName="After Work" urlName="after-work" path="-1,1054,1063,1067" isDoc="" nodeType="1051" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="DialogueCategory">
        <hideFromSitemap>0</hideFromSitemap>
        <umbracoNaviHide>0</umbracoNaviHide>
        <description><![CDATA[<div class="forumNamn">
<p class="forumBeskrivning">Här diskuteras det som händer efter arbetet och utanför sjukhuset.</p>
</div>
<div class="forumsSenasteInlagg"></div>]]></description>
        <lockCategory>0</lockCategory>
        <moderateAllTopicsInThisCategory>0</moderateAllTopicsInThisCategory>
        <moderateAllPostsInThisCategory>0</moderateAllPostsInThisCategory>
      </DialogueCategory>
      <DialogueCategory id="1068" key="fff991fc-b283-4a88-95d4-14681663ccc1" parentID="1063" level="3" creatorID="0" sortOrder="1" createDate="2017-02-13T15:29:15" updateDate="2017-02-13T15:29:24" nodeName="Allmänt" urlName="allmaent" path="-1,1054,1063,1068" isDoc="" nodeType="1051" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="DialogueCategory">
        <hideFromSitemap>0</hideFromSitemap>
        <umbracoNaviHide>0</umbracoNaviHide>
        <description><![CDATA[<div class="forumNamn">
<p class="forumBeskrivning">Här diskuteras allt av allmänt intresse.</p>
</div>
<div class="forumsSenasteInlagg"></div>]]></description>
        <lockCategory>0</lockCategory>
        <moderateAllTopicsInThisCategory>0</moderateAllTopicsInThisCategory>
        <moderateAllPostsInThisCategory>0</moderateAllPostsInThisCategory>
      </DialogueCategory>
      <DialogueCategory id="1069" key="b7c6c80e-43b7-4466-9b95-9719a9f523f6" parentID="1063" level="3" creatorID="0" sortOrder="2" createDate="2017-02-13T15:30:01" updateDate="2017-02-13T15:30:11" nodeName="Köp &amp; sälj" urlName="koep-saelj" path="-1,1054,1063,1069" isDoc="" nodeType="1051" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="DialogueCategory">
        <hideFromSitemap>0</hideFromSitemap>
        <umbracoNaviHide>0</umbracoNaviHide>
        <description><![CDATA[<div class="forumNamn">
<p class="forumBeskrivning">Använd privata meddelanden för att undvika att lägga ut kontaktuppgifter publikt.</p>
</div>
<div class="forumsSenasteInlagg"></div>]]></description>
        <lockCategory>0</lockCategory>
        <moderateAllTopicsInThisCategory>0</moderateAllTopicsInThisCategory>
        <moderateAllPostsInThisCategory>0</moderateAllPostsInThisCategory>
      </DialogueCategory>
      <DialogueCategory id="1070" key="a9f54b83-e350-4a23-8591-7be4e1a65020" parentID="1063" level="3" creatorID="0" sortOrder="3" createDate="2017-02-13T15:30:44" updateDate="2017-02-13T15:30:53" nodeName="Litteratur" urlName="litteratur" path="-1,1054,1063,1070" isDoc="" nodeType="1051" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="DialogueCategory">
        <hideFromSitemap>0</hideFromSitemap>
        <umbracoNaviHide>0</umbracoNaviHide>
        <description><![CDATA[<div class="forumNamn">
<p class="forumBeskrivning">Här diskuteras studielitteratur eller böcker för AT och ST.</p>
</div>
<div class="forumsSenasteInlagg"></div>]]></description>
        <lockCategory>0</lockCategory>
        <moderateAllTopicsInThisCategory>0</moderateAllTopicsInThisCategory>
        <moderateAllPostsInThisCategory>0</moderateAllPostsInThisCategory>
      </DialogueCategory>
    </DialogueCategory>
    <DialogueCategory id="1064" key="4645afa9-0845-4eb7-80cd-f80bbefd71ee" parentID="1054" level="2" creatorID="0" sortOrder="5" createDate="2017-02-13T15:26:22" updateDate="2017-02-13T15:26:22" nodeName="Läkarstudent" urlName="laekarstudent" path="-1,1054,1064" isDoc="" nodeType="1051" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="DialogueCategory">
      <hideFromSitemap>0</hideFromSitemap>
      <umbracoNaviHide>0</umbracoNaviHide>
      <lockCategory>0</lockCategory>
      <moderateAllTopicsInThisCategory>0</moderateAllTopicsInThisCategory>
      <moderateAllPostsInThisCategory>0</moderateAllPostsInThisCategory>
      <DialogueCategory id="1071" key="5ae2e70e-99ed-40b6-baef-ea05d1628a33" parentID="1064" level="3" creatorID="0" sortOrder="0" createDate="2017-02-13T15:31:31" updateDate="2017-02-13T15:31:42" nodeName="Allmänt" urlName="allmaent" path="-1,1054,1064,1071" isDoc="" nodeType="1051" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="DialogueCategory">
        <hideFromSitemap>0</hideFromSitemap>
        <umbracoNaviHide>0</umbracoNaviHide>
        <description><![CDATA[<div class="forumNamn">
<p class="forumBeskrivning">Allmänna diskussioner för läkarstudenter.</p>
</div>
<div class="forumsSenasteInlagg"></div>]]></description>
        <lockCategory>0</lockCategory>
        <moderateAllTopicsInThisCategory>0</moderateAllTopicsInThisCategory>
        <moderateAllPostsInThisCategory>0</moderateAllPostsInThisCategory>
      </DialogueCategory>
      <DialogueCategory id="1072" key="e7d84431-d620-49f7-8f34-6a40f372771e" parentID="1064" level="3" creatorID="0" sortOrder="1" createDate="2017-02-13T15:31:58" updateDate="2017-02-13T15:32:07" nodeName="Läkarstudier utomlands" urlName="laekarstudier-utomlands" path="-1,1054,1064,1072" isDoc="" nodeType="1051" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="DialogueCategory">
        <hideFromSitemap>0</hideFromSitemap>
        <umbracoNaviHide>0</umbracoNaviHide>
        <lockCategory>0</lockCategory>
        <moderateAllTopicsInThisCategory>0</moderateAllTopicsInThisCategory>
        <moderateAllPostsInThisCategory>0</moderateAllPostsInThisCategory>
      </DialogueCategory>
      <DialogueCategory id="1073" key="a9b0b022-92dd-4f05-b6cc-1216b981fd27" parentID="1064" level="3" creatorID="0" sortOrder="2" createDate="2017-02-13T15:32:40" updateDate="2017-02-13T15:32:48" nodeName="Studieort" urlName="studieort" path="-1,1054,1064,1073" isDoc="" nodeType="1051" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="DialogueCategory">
        <hideFromSitemap>0</hideFromSitemap>
        <umbracoNaviHide>0</umbracoNaviHide>
        <description><![CDATA[<div class="forumNamn">
<p class="forumBeskrivning">Här diskuteras allt som rör studieorterna.</p>
</div>
<div class="forumsSenasteInlagg"></div>]]></description>
        <lockCategory>0</lockCategory>
        <moderateAllTopicsInThisCategory>0</moderateAllTopicsInThisCategory>
        <moderateAllPostsInThisCategory>0</moderateAllPostsInThisCategory>
      </DialogueCategory>
    </DialogueCategory>
    <DialogueCategory id="1065" key="b36fab48-916f-4d38-96e9-10ecfb3251ef" parentID="1054" level="2" creatorID="0" sortOrder="6" createDate="2017-02-13T15:26:34" updateDate="2017-02-13T15:26:34" nodeName="AT/ST/Vik.ul-läkare" urlName="atstvikul-laekare" path="-1,1054,1065" isDoc="" nodeType="1051" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="DialogueCategory">
      <hideFromSitemap>0</hideFromSitemap>
      <umbracoNaviHide>0</umbracoNaviHide>
      <lockCategory>0</lockCategory>
      <moderateAllTopicsInThisCategory>0</moderateAllTopicsInThisCategory>
      <moderateAllPostsInThisCategory>0</moderateAllPostsInThisCategory>
      <DialogueCategory id="1074" key="2cd4fc65-748d-4c1c-ab02-2ca347c131a4" parentID="1065" level="3" creatorID="0" sortOrder="0" createDate="2017-02-13T15:33:47" updateDate="2017-02-13T15:33:57" nodeName="Allmänt" urlName="allmaent" path="-1,1054,1065,1074" isDoc="" nodeType="1051" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="DialogueCategory">
        <hideFromSitemap>0</hideFromSitemap>
        <umbracoNaviHide>0</umbracoNaviHide>
        <description><![CDATA[<div class="forumNamn">
<p class="forumBeskrivning">Allmänna diskussioner för underläkare.</p>
</div>
<div class="forumsSenasteInlagg"></div>]]></description>
        <lockCategory>0</lockCategory>
        <moderateAllTopicsInThisCategory>0</moderateAllTopicsInThisCategory>
        <moderateAllPostsInThisCategory>0</moderateAllPostsInThisCategory>
      </DialogueCategory>
      <DialogueCategory id="1075" key="e94ba225-8ea3-4f53-871d-33b143e4a938" parentID="1065" level="3" creatorID="0" sortOrder="1" createDate="2017-02-13T15:34:18" updateDate="2017-02-13T15:34:27" nodeName="Arbete utomlands" urlName="arbete-utomlands" path="-1,1054,1065,1075" isDoc="" nodeType="1051" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="DialogueCategory">
        <hideFromSitemap>0</hideFromSitemap>
        <umbracoNaviHide>0</umbracoNaviHide>
        <lockCategory>0</lockCategory>
        <moderateAllTopicsInThisCategory>0</moderateAllTopicsInThisCategory>
        <moderateAllPostsInThisCategory>0</moderateAllPostsInThisCategory>
      </DialogueCategory>
      <DialogueCategory id="1076" key="f6f1a01a-8f3a-4a12-bbdb-266db208a7f1" parentID="1065" level="3" creatorID="0" sortOrder="2" createDate="2017-02-13T15:35:03" updateDate="2017-02-13T15:35:11" nodeName="Arbetsförhållanden" urlName="arbetsfoerhaallanden" path="-1,1054,1065,1076" isDoc="" nodeType="1051" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="DialogueCategory">
        <hideFromSitemap>0</hideFromSitemap>
        <umbracoNaviHide>0</umbracoNaviHide>
        <description><![CDATA[<div class="forumNamn">
<p class="forumBeskrivning">Här diskuteras arbetsförhållanden, undervisning, handledning, arbetstider med mera.</p>
</div>
<div class="forumsSenasteInlagg"></div>]]></description>
        <lockCategory>0</lockCategory>
        <moderateAllTopicsInThisCategory>0</moderateAllTopicsInThisCategory>
        <moderateAllPostsInThisCategory>0</moderateAllPostsInThisCategory>
      </DialogueCategory>
      <DialogueCategory id="1077" key="ba5c4499-a7c7-4108-826c-19493956f0ae" parentID="1065" level="3" creatorID="0" sortOrder="3" createDate="2017-02-13T15:35:37" updateDate="2017-02-13T15:35:45" nodeName="Lön" urlName="loen" path="-1,1054,1065,1077" isDoc="" nodeType="1051" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="DialogueCategory">
        <hideFromSitemap>0</hideFromSitemap>
        <umbracoNaviHide>0</umbracoNaviHide>
        <description><![CDATA[<div class="forumNamn">
<p class="forumBeskrivning">Här diskuteras lön som läkarassistent, vikarie, AT- eller ST-läkare.</p>
</div>
<div class="forumsSenasteInlagg"></div>]]></description>
        <lockCategory>0</lockCategory>
        <moderateAllTopicsInThisCategory>0</moderateAllTopicsInThisCategory>
        <moderateAllPostsInThisCategory>0</moderateAllPostsInThisCategory>
      </DialogueCategory>
    </DialogueCategory>
    <DialogueCategory id="1066" key="888d3220-97f3-4e72-abf9-bc991b5f53d9" parentID="1054" level="2" creatorID="0" sortOrder="7" createDate="2017-02-13T15:26:47" updateDate="2017-02-13T15:26:47" nodeName="Övrigt" urlName="oevrigt" path="-1,1054,1066" isDoc="" nodeType="1051" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="DialogueCategory">
      <hideFromSitemap>0</hideFromSitemap>
      <umbracoNaviHide>0</umbracoNaviHide>
      <lockCategory>0</lockCategory>
      <moderateAllTopicsInThisCategory>0</moderateAllTopicsInThisCategory>
      <moderateAllPostsInThisCategory>0</moderateAllPostsInThisCategory>
      <DialogueCategory id="1078" key="d84fe190-908f-4f1d-8bbe-69e43cfce6f5" parentID="1066" level="3" creatorID="0" sortOrder="0" createDate="2017-02-13T15:36:21" updateDate="2017-02-13T15:36:29" nodeName="Icke medicinare" urlName="icke-medicinare" path="-1,1054,1066,1078" isDoc="" nodeType="1051" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="DialogueCategory">
        <hideFromSitemap>0</hideFromSitemap>
        <umbracoNaviHide>0</umbracoNaviHide>
        <description><![CDATA[<div class="forumNamn">
<p class="forumBeskrivning">Här kan ni som inte är läkarstudenter eller läkare ta upp frågor.</p>
</div>
<div class="forumsSenasteInlagg"></div>]]></description>
        <lockCategory>0</lockCategory>
        <moderateAllTopicsInThisCategory>0</moderateAllTopicsInThisCategory>
        <moderateAllPostsInThisCategory>0</moderateAllPostsInThisCategory>
      </DialogueCategory>
      <DialogueCategory id="1079" key="e990540b-d042-40eb-b294-12c28ea06cf2" parentID="1066" level="3" creatorID="0" sortOrder="1" createDate="2017-02-13T15:37:03" updateDate="2017-02-13T15:37:12" nodeName="Papperskorgen" urlName="papperskorgen" path="-1,1054,1066,1079" isDoc="" nodeType="1051" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="DialogueCategory">
        <hideFromSitemap>0</hideFromSitemap>
        <umbracoNaviHide>0</umbracoNaviHide>
        <description><![CDATA[<div class="forumNamn">
<p class="forumBeskrivning">Flyttade, låsta trådar som ej passar in i detta forum</p>
</div>
<div class="forumsSenasteInlagg"></div>]]></description>
        <lockCategory>0</lockCategory>
        <moderateAllTopicsInThisCategory>0</moderateAllTopicsInThisCategory>
        <moderateAllPostsInThisCategory>0</moderateAllPostsInThisCategory>
      </DialogueCategory>
      <DialogueCategory id="1080" key="5e19b04c-8ad2-4d9e-94cd-a6c47dc92ea8" parentID="1066" level="3" creatorID="0" sortOrder="2" createDate="2017-02-13T15:37:50" updateDate="2017-02-13T15:38:00" nodeName="underlakare.se - nya idéer" urlName="underlakarese-nya-idéer" path="-1,1054,1066,1080" isDoc="" nodeType="1051" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="DialogueCategory">
        <hideFromSitemap>0</hideFromSitemap>
        <umbracoNaviHide>0</umbracoNaviHide>
        <description><![CDATA[<div class="forumNamn">
<p class="forumBeskrivning">Här diskuteras förbättringar och nya idéer för underlakare.se.</p>
</div>
<div class="forumsSenasteInlagg"></div>]]></description>
        <lockCategory>0</lockCategory>
        <moderateAllTopicsInThisCategory>0</moderateAllTopicsInThisCategory>
        <moderateAllPostsInThisCategory>0</moderateAllPostsInThisCategory>
      </DialogueCategory>
      <DialogueCategory id="1081" key="63c18ef4-2d06-4f14-bf0f-d03e887f1a2c" parentID="1066" level="3" creatorID="0" sortOrder="3" createDate="2017-02-13T15:38:37" updateDate="2017-02-13T15:38:46" nodeName="Varningar/avstängningar" urlName="varningaravstaengningar" path="-1,1054,1066,1081" isDoc="" nodeType="1051" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="DialogueCategory">
        <hideFromSitemap>0</hideFromSitemap>
        <umbracoNaviHide>0</umbracoNaviHide>
        <description><![CDATA[<div class="forumNamn">
<p class="forumBeskrivning">Här visas de varningar samt avstängningar som har utfärdats.</p>
</div>
<div class="forumsSenasteInlagg"></div>]]></description>
        <lockCategory>0</lockCategory>
        <moderateAllTopicsInThisCategory>0</moderateAllTopicsInThisCategory>
        <moderateAllPostsInThisCategory>0</moderateAllPostsInThisCategory>
      </DialogueCategory>
      <DialogueCategory id="1082" key="a4993eb7-a7ae-4223-a604-7484c6318ae4" parentID="1066" level="3" creatorID="0" sortOrder="4" createDate="2017-02-13T15:39:24" updateDate="2017-02-13T15:39:35" nodeName="Övrigt" urlName="oevrigt" path="-1,1054,1066,1082" isDoc="" nodeType="1051" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="DialogueCategory">
        <hideFromSitemap>0</hideFromSitemap>
        <umbracoNaviHide>0</umbracoNaviHide>
        <description><![CDATA[<div class="forumNamn">
<p class="forumBeskrivning">För de ämnen som hamnar utanför övriga forum.</p>
</div>
<div class="forumsSenasteInlagg"></div>]]></description>
        <lockCategory>0</lockCategory>
        <moderateAllTopicsInThisCategory>0</moderateAllTopicsInThisCategory>
        <moderateAllPostsInThisCategory>0</moderateAllPostsInThisCategory>
      </DialogueCategory>
    </DialogueCategory>
  </Dialogue>
  <aTTjaenst id="1159" key="85392147-1988-4bcc-a4b7-d13b1c7ab365" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-04-07T11:02:40" updateDate="2017-04-07T11:03:38" nodeName="AT-tjänst" urlName="at-tjaenst" path="-1,1159" isDoc="" nodeType="1153" creatorName="Ninib" writerName="Ninib" writerID="0" template="1152" nodeTypeAlias="aTTjaenst">
    <info><![CDATA[<p><span>Information kommer inom kort.</span></p>]]></info>
    <landsting id="1160" key="10ba7667-2d6f-4446-9d6a-45011fe08d85" parentID="1159" level="2" creatorID="0" sortOrder="0" createDate="2017-04-07T11:03:29" updateDate="2017-04-07T11:03:29" nodeName="Västra Götalandsregionen AT" urlName="vaestra-goetalandsregionen-at" path="-1,1159,1160" isDoc="" nodeType="1156" creatorName="Ninib" writerName="Ninib" writerID="0" template="1155" nodeTypeAlias="landsting">
      <info><![CDATA[<p>Information kommer inom kort.</p>]]></info>
      <informationPerATSjukhus id="1161" key="2bc630e4-22a5-4ff5-8416-95e1aa1c6ccf" parentID="1160" level="3" creatorID="0" sortOrder="0" createDate="2017-04-07T11:11:29" updateDate="2017-04-08T14:24:10" nodeName="Alingsås-lasarett-AT" urlName="alingsaas-lasarett-at" path="-1,1159,1160,1161" isDoc="" nodeType="1157" creatorName="Ninib" writerName="Ninib" writerID="0" template="1158" nodeTypeAlias="informationPerATSjukhus">
        <oevrigt><![CDATA[<div class="ATinformationFaktaDiv"><span class="bold"><span id="ctl00_contentPlaceHolder_Label22"><strong>Huvudman</strong>: </span></span><span id="ctl00_contentPlaceHolder_lblHuvudman">Västra Götalandsregionen.</span></div>
<div class="ATinformationFaktaDiv"><span class="bold"><span id="ctl00_contentPlaceHolder_Label3"><strong>AT-blockens längd</strong>: </span></span><span id="ctl00_contentPlaceHolder_lblLangd">21 mån.</span></div>
<div class="ATinformationFaktaDiv"><span class="bold"><span id="ctl00_contentPlaceHolder_Label4"><strong>AT-block/termin</strong>: </span></span><span id="ctl00_contentPlaceHolder_lblATBlock">9/vårtemin</span></div>
<div class="ATinformationFaktaDiv"><span class="bold"><span id="ctl00_contentPlaceHolder_Label29"><strong>Antal sökande/block</strong>: </span></span><span id="ctl00_contentPlaceHolder_lblSokandePerBlock">20,2</span></div>
<div class="ATinformationFaktaDiv"><span class="bold"><span id="ctl00_contentPlaceHolder_Label2"></span></span><span class="bold"><span id="ctl00_contentPlaceHolder_Label15"><strong>Lön efter 18 månader</strong>: </span></span><span id="ctl00_contentPlaceHolder_lblLonEfter18Man">Lönesamtal äger rum efter 12 månaders AT-tjänstgöring.</span></div>
<div class="ATinformationFaktaDiv"><span class="bold"><span id="ctl00_contentPlaceHolder_Label6"><strong>Studiepott</strong>: </span></span><span id="ctl00_contentPlaceHolder_lblStudiepott">10 000.</span></div>
<div class="ATinformationFaktaDiv"><span class="bold"><span id="ctl00_contentPlaceHolder_Label20"><strong>Hyresnivå trea rok</strong>: </span></span><span id="ctl00_contentPlaceHolder_lblHyresNivaTrea">Cirka 4 000 kr/mån.</span></div>
<div class="ATinformationFaktaDiv"><span class="bold"><span id="ctl00_contentPlaceHolder_Label21"><strong>Bostadsmarknad</strong>: </span></span><span id="ctl00_contentPlaceHolder_lblBostadsmarknad">God.</span></div>
<div class="ATinformationFaktaDiv"><span class="bold"><span id="ctl00_contentPlaceHolder_Label5"><strong>Introduktion</strong>: </span></span><span id="ctl00_contentPlaceHolder_lblIntroduktion">Fås på alla placeringar.</span></div>
<div class="ATinformationFaktaDiv"><span class="bold"><span id="ctl00_contentPlaceHolder_Label25"><strong>Undervisning</strong>: </span></span><span id="ctl00_contentPlaceHolder_lblUndervisning">1-2 tim/vecka beroende på klinik.</span></div>
<div class="ATinformationFaktaDiv"><span class="bold"><span id="ctl00_contentPlaceHolder_Label28"><strong>Självstudier</strong>: </span></span><span id="ctl00_contentPlaceHolder_lblSjalvstudier">Inga schemalagda.</span></div>
<div class="ATinformationFaktaDiv"><span class="bold"><span id="ctl00_contentPlaceHolder_Label26"><strong>Handledare/huvudansvar</strong>: </span></span><span id="ctl00_contentPlaceHolder_lblHandledareHuvudavsnitt">1 personlig/block.</span></div>
<div class="ATinformationFaktaDiv"><span class="bold"><span id="ctl00_contentPlaceHolder_Label27"><strong>Mentor/huvudhandledare</strong>: </span></span><span id="ctl00_contentPlaceHolder_lblMentorHuvudhandledare">Ja, under hela AT-tiden.</span></div>
<div class="ATinformationFaktaDiv"><span class="bold"><span id="ctl00_contentPlaceHolder_Label18"><strong>Obesatta tjänster</strong>: </span></span><span id="ctl00_contentPlaceHolder_lblObesattaTjanster">Nej.</span></div>
<div class="ATinformationFaktaDiv"><span class="bold"><span id="ctl00_contentPlaceHolder_Label23"><strong>Antal läkare</strong>: </span></span><span id="ctl00_contentPlaceHolder_lblAntalLakare">60 stycken.</span></div>
<div id="ctl00_contentPlaceHolder_divOvrigt" class="ATinformationFaktaDiv"><span class="bold"><span id="ctl00_contentPlaceHolder_Label7"><strong>Övrigt</strong>: </span></span><span id="ctl00_contentPlaceHolder_lblOvrigt">Antal läkare: 60 stycken. <br /><strong>Upptagningsområde</strong>: 100 000.</span></div>
<div class="ATinformationFaktaDiv"><span class="bold"><span id="ctl00_contentPlaceHolder_Label8"><strong>Kontaktperson</strong>: </span></span><a id="ctl00_contentPlaceHolder_hlKontaktperson" href="mailto:maria.skogsbryne@vgregion.se" class="boldAndBlueLink">maria.skogsbryne@vgregion.se</a></div>]]></oevrigt>
        <moejlighetTillVikariat><![CDATA[Ja.]]></moejlighetTillVikariat>
        <ensamPaaNattjour><![CDATA[Ja, med stöd av bakjour.]]></ensamPaaNattjour>
        <ingaangsloen><![CDATA[29 000 kr/mån enligt 2016 års nivå.]]></ingaangsloen>
        <ledarskapsutbildning><![CDATA[Nej.]]></ledarskapsutbildning>
        <sTTjaensterErbjuds><![CDATA[Ja.]]></sTTjaensterErbjuds>
        <personalbostad><![CDATA[Finns inte.]]></personalbostad>
        <upptagningsomraade><![CDATA[90 000.]]></upptagningsomraade>
        <betaldATStaemma><![CDATA[Kursavgift, boende och resa bekostar arbetsgivaren.]]></betaldATStaemma>
        <sTLoen><![CDATA[Individuell lönesättning.]]></sTLoen>
        <ort><![CDATA[Alingsås]]></ort>
        <hjaelpAttHittaBoende><![CDATA[Nej.]]></hjaelpAttHittaBoende>
      </informationPerATSjukhus>
    </landsting>
    <landsting id="1162" key="bdb97f98-cb24-4527-a454-4eee72871850" parentID="1159" level="2" creatorID="0" sortOrder="1" createDate="2017-04-07T12:59:04" updateDate="2017-04-08T14:20:19" nodeName="Region Uppsala AT" urlName="region-uppsala-at" path="-1,1159,1162" isDoc="" nodeType="1156" creatorName="Ninib" writerName="Ninib" writerID="0" template="1155" nodeTypeAlias="landsting">
      <info><![CDATA[<p>Info Kommer inom kort.</p>]]></info>
      <informationPerATSjukhus id="1163" key="81b0591f-2eae-4859-8601-a2fc46bdd6ec" parentID="1162" level="3" creatorID="0" sortOrder="0" createDate="2017-04-07T13:01:10" updateDate="2017-04-07T13:01:10" nodeName="Uppsala sjukhus" urlName="uppsala-sjukhus" path="-1,1159,1162,1163" isDoc="" nodeType="1157" creatorName="Ninib" writerName="Ninib" writerID="0" template="1158" nodeTypeAlias="informationPerATSjukhus">
        <oevrigt><![CDATA[<p>info kommer</p>]]></oevrigt>
        <moejlighetTillVikariat><![CDATA[ja.]]></moejlighetTillVikariat>
        <ensamPaaNattjour><![CDATA[ja.]]></ensamPaaNattjour>
        <ingaangsloen><![CDATA[30 000.]]></ingaangsloen>
        <ledarskapsutbildning><![CDATA[nej.]]></ledarskapsutbildning>
        <sTTjaensterErbjuds><![CDATA[anställning]]></sTTjaensterErbjuds>
        <personalbostad><![CDATA[ja.]]></personalbostad>
        <upptagningsomraade><![CDATA[90000.]]></upptagningsomraade>
        <betaldATStaemma><![CDATA[nej.]]></betaldATStaemma>
        <sTLoen><![CDATA[35000]]></sTLoen>
        <ort><![CDATA[Uppsala]]></ort>
        <hjaelpAttHittaBoende><![CDATA[nej.]]></hjaelpAttHittaBoende>
      </informationPerATSjukhus>
    </landsting>
  </aTTjaenst>
</root>